/**
    Project: Shades
    Author: rhanmiano
    Description: Scss file for the layouting of webpages of Shades
**/

@import 'base/base';
@import 'variables/vars';
@import 'mixins/mixins';

@font-face {
    font-family: 'Ultima';
    src: url('fonts/Ultima.ttf') format('ttf'),
         url('fonts/Ultima.woff') format('woff'),
         url('fonts/Ultima.woff2') format('woff2'),
         url('fonts/Ultima.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ultima Bold';
    src: url('fonts/ultima-bold.ttf') format('ttf'),
         url('fonts/ultima-bold.woff') format('woff'),
         url('fonts/ultima-bold.woff2') format('woff2'),
         url('fonts/ultima-bold.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');


/*Gameplay*/

.wrap{
	max-width: 100%;
	height: 100vh;
	position: relative;
    background: #7f31c4;
    background: url('http://localhost/shades/images/dark-bg.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    font-family: 'Ultima', Arial, sans-serif;
}

.container{
    height: 100%;
    display: block;
    *zoom: 1;
    
    &::before,
    &::after{
        content: '';
        display: table;
        line-height: 0;        
    }
    
    &::after{
        clear: both;
    }
    
    > div:first-child{
        padding-left: 10px;
    }
    
    > div:last-child{
        padding-right: 10px;
    }
}

#tbl{
    display: table;   
    
}

.col-mid{
    width: 450px;
    @include absolute-center;
    min-height: 100%;
}


.card-holder{
    position: relative;
    @include table-cell;
    text-align: center;
}

.box-container{
    position: relative;
    display: inline-grid;
    
    .box{
        color: white;
        font-size: 300%;
        font-family: Arial, sans-serif;
        text-align: center;
        width: 100px;
        height: 100px;
        margin: 1px;
        cursor: pointer;
        display: table;
        
        p{
            @include table-cell;
            font-family: 'Roboto Slab', Helvetica, sans-serif;
            font-weight: 700;
        }
    }
    
    
}

section.card-content{
    display: inline-block;
}

.card-header{
    width: 400px;
    margin: 0 auto;
    padding-bottom: 8px;
    
    
    #score p, #best p{
        font-size: 1.2em;
    }
    
    #score{
        margin-right: 130px;
    }
    
    #best{
        margin-left: 130px;
    }
    
    #title{
        font-size: 2em;
        font-family: 'Ultima Bold', Ultima, Arial, Helvetica, sans-serif;
        padding-top: 10px;
        
        p{
            background: -webkit-linear-gradient(left, #2accff, #3fffe6);
            background: linear-gradient(top, #2accff, #000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            width: 100%;
            overflow: hidden;
            font-size: 2em;
            letter-spacing: -3px;
            position: absolute;
            top: 18%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.card-footer{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    
    div{
        display: block; 
        max-width: 100%;
        
        #how-to, #theme{
            text-decoration: underline;
            cursor: pointer;
        }
        
        #how-to{
            margin-left: 25px;
        }

        #theme{
            margin-right: 25px;
        }
    }
    
    
    
}

/* Shades */
.shade1{
	background-color: $blue1;
}
.shade2{
	background-color: $blue2;
}
.shade3{
	background-color: $blue3;
}
.shade4{
	background-color: $blue4;
}

@import 'media';