// Box Colors
$shade1: #90caf8;
$shade2: #64b5f6;
$shade3: #1d88e6;
$shade4: #0e47a1;

//Accent Colors
$blue: #1d88e6;

//Support Colors
$orange: #f7632f;

//Fonts
$UltimaB: 'Ultima Bold', Helvetica, Arial, sans-serif;
$Ultima: Ultima, Helvetica, Arial, sans-serif;