/* Folds */
@mixin temp{	
	max-width: 100%;
	position: relative;
}

@mixin bg-parallax{
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
    background-attachment: fixed;
}

@mixin bg-cover{
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover
}

/* Display Table Parent */
@mixin table{
	width: 100%;
	height: 100%;
	display: table;
}

/* Display Table-cell Child */
@mixin table-cell{
	display: table-cell;
	vertical-align: middle;
}

@mixin absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin border-radius($radius){
	border-radius: $radius;
}

@mixin column-width($number-of-columns) {
    width: $number-of-columns / 12 * 100%;
}

@mixin gradient-title{
    background: -webkit-linear-gradient(left, #2accff, #3fffe6);
    background: linear-gradient(top, #2accff, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    overflow: hidden;
}